<div #scrollbar class="scrollbar">
    <div id="chatbox">
        <div *ngFor="let message of websocketService.messages; let last = last" class="container-fluid">
            <div id="{{message.id}}" class="row message-whole">
                <div class="col-auto text-center message-user-container">
                    <div class="message-user-details">
                        <div><i class="fas fa-user"></i></div>
                        <div>{{message.username}}</div>
                    </div>
                </div>
                <div *ngIf="moment.utc(message.PostDate).local().format() > entryTime && message.Username == currentUsername;else notCurrentUserMessage" class="col order-first">
                    <div class="message-box">{{message.chatMessage}}</div>
                    <div class="time-stamp"><span style="float:right;">sent at {{moment(message.postDate).format('LT ll')}}</span></div>
                </div>
                <ng-template #notCurrentUserMessage >
                    <div class="col">
                        <div class="message-box">{{message.chatMessage}}</div>
                        <div class="time-stamp"><span style="float:right;">sent at {{moment.utc(message.postDate).local().format('LT ll')}}</span></div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>