<div id="userEntry">
    <div id="welcomeTitle" class="text-center">
        <h1>
            Weclome To Purple Tuesday Chatroom
        </h1>
    </div>
    <div id="displayNameInputBox" class="container text-center input-group">
        <input id="usernameInput" class="form-control" placeholder="Enter your display name..." [(ngModel)]="displayName" /> 
        <button class="btn btn-primary input-group-append input-group-text" routerLink="/chatroom/{{displayName}}">
            Join Room
        </button>
    </div>
</div>