<div id="userEntry">
    <div id="welcomeTitle" class="text-center">
        <h1>
            Welcome To Purple Tuesday Chatroom
        </h1>
    </div>
    <div id="usernameInputBox" class="container text-center input-group">
        <input id="usernameInput" class="form-control" placeholder="Enter your display name..." [(ngModel)]="username" maxlength="10" /> 
        <button id="joinButton" class="btn btn-primary input-group-append input-group-text" (click)="addUser()">
            Join Room
        </button>
    </div>
</div>